In [141]:
import json

# json인코딩
user = {'id':1234,'name':'홍길동'} # 파이썬 딕셔너리
print(user)
print(user['name']) # 홍길동

jsonString = json.dumps(user,ensure_ascii=False) 
# ensure_ascii의 False는 아스키코드를 사용하지 않음을 의미한다. 
print(type(jsonString))  # <class 'str'> 문자열이기 때문에 딕셔너리가 아니다. json은 ''와 ""를 가린다. json은""가 키값이 된다.
print(jsonString) # {"id": 1234, "name": "홍길동"}
#print(jsonString['name']) # error 이유 : 딕셔너리가 아니기 때문에 ['name']인덱스를 사용할수 없다.

# 디코딩 
pyObj = json.loads(jsonString)
print(type(pyObj))
print(pyObj)
print(pyObj['name'])

{'id': 1234, 'name': '홍길동'}
홍길동
<class 'str'>
{"id": 1234, "name": "홍길동"}
<class 'dict'>
{'id': 1234, 'name': '홍길동'}
홍길동

In [43]:
import json 

try:
    rfile = open("data/usagov_bitly.txt",'r',encoding='utf-8')
    lines = rfile.readlines() # lines 반환값 리스트
    # print(type(lines),len(lines),lines)
    
    ## json 디코딩 : json.loads() 
    ## lines -> [json 문자열들....] -> 파이썬 obj(dict)객체 
    rows = [] 
    for row in lines:
        rows.append(json.loads(row)) 
    # rows = [json.loads(row)for row in lines] 와 같다. 
    print("rows :",len(rows))
    print("rows[0]의 type :",type(rows[0])) 
    for row in rows:
        print(row['a']) 
    
except Exception as e:
    print("에러 발생 :",e)
finally:
    rfile.close()

## dict -> DataFrame 변환
import pandas as pd
record_df = pd.DataFrame(rows) 

print(record_df.info())
record_df

rows : 3560
rows[0]의 type : <class 'dict'>
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11
GoogleMaps/RochesterNY
Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; WOW64; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E; InfoPath.3)
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/534.52.7 (KHTML, like Gecko) Version/5.1.2 Safari/534.52.7
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11
Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11
Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/20100101 Firefox/4.0.1
Opera/9.80 (X11; Linux zbov; U; en) Presto/2.10.254 Version/12.00
Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.79 Safari/535.11
Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2) Gecko/20100101 Firefox/10.0.2
Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.4; en-US; rv:1.9.2.27) Gecko/20120216 Firefox/3.6.27
Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2) Gecko/20100101 Firefox/10.0.2
에러 발생 : 'a'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   a            3440 non-null   object
 1   c            2919 non-null   object
 2   nk           3440 non-null   float64
 3   tz           3440 non-null   object
 4   gr           2919 non-null   object
 5   g            3440 non-null   object
 6   h            3440 non-null   object
 7   l            3440 non-null   object
 8   al           3094 non-null   object
 9   hh           3440 non-null   object
 10  r            3440 non-null   object
 11  u            3440 non-null   object
 12  t            3440 non-null   float64
 13  hc           3440 non-null   float64
 14  cy           2919 non-null   object
 15  ll           2919 non-null   object
 16  _heartbeat_  120 non-null    float64
 17  kw           93 non-null     object
dtypes: float64(4), object(14)
memory usage: 500.8+ KB
None

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1.0,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1.331923e+09,1.331823e+09,Danvers,"[42.576698, -70.954903]",NaN,NaN
1,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331923e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
2,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,US,1.0,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1.331923e+09,1.331920e+09,Washington,"[38.9007, -77.043098]",NaN,NaN
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0.0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,Braz,"[-23.549999, -46.616699]",NaN,NaN
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0.0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1.331923e+09,1.273672e+09,Shrewsbury,"[42.286499, -71.714699]",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555,Mozilla/4.0 (compatible; MSIE 9.0; Windows NT ...,US,1.0,America/New_York,NJ,e5SvKE,fqPSr9,tweetdeckapi,en,1.usa.gov,direct,http://www.fda.gov/AdvisoryCommittees/Committe...,1.331927e+09,1.301298e+09,Paramus,"[40.9445, -74.07]",NaN,NaN
3556,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,US,0.0,America/Chicago,OK,jQLtP4,jQLtP4,bitly,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,http://www.okc.gov/PublicNotificationSystem/Fo...,1.331927e+09,1.307530e+09,Oklahoma City,"[35.4715, -97.518997]",NaN,NaN
3557,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331927e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
3558,GoogleProducer,US,0.0,America/Los_Angeles,CA,zjtI4X,zjtI4X,bitly,NaN,1.usa.gov,direct,http://www.ahrq.gov/qual/qitoolkit/,1.331927e+09,1.327529e+09,Mountain View,"[37.419201, -122.057404]",NaN,NaN
3559,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,US,0.0,America/New_York,VA,qxKrTK,qxKrTK,bitly,en-US,1.usa.gov,http://t.co/OEEEvwjU,http://herndon-va.gov/Content/public_safety/Pu...,1.331927e+09,1.312898e+09,Mc Lean,"[38.935799, -77.162102]",NaN,NaN

In [112]:
# 교통사고 파일을 열어서 DataFrame으로 생성
# 1. 생성된 데이터프레임을 통해서 총 사건수, 사망자수, 중상자수, 경상자수 조회 
# 2. 서울 지역 사망자수를 조회하여 총 사망자수를 조회

import pandas as pd
import os 
import numpy as np 
file = pd.read_csv('data/car.csv',encoding='utf-8')
 
print("총 사건수 :",np.sum(file['사고건수'])) 
print("총 사망자수 :",np.sum(file['사망자수']))  
print("총 중상자수 :",np.sum(file['중상자수'])) 
print("총 경상자수 :",np.sum(file['경상자수'])) 
city = file['시도']
die = file['사망자수']  
s_tot = 0 
for i in range(len(file['시도'])):
    if file['시도'][i] =='서울':
        s_tot += file['사망자수'][i]
print("서울지역 총 사망자수 :",s_tot)

총 사건수 : 209654
총 사망자수 : 3081
총 중상자수 : 60564
총 경상자수 : 226036
서울지역 총 사망자수 : 219

In [119]:

# 휴게소 주차장 현황
# 1. 노선별 주차장의 합계를 딕셔너리로 데이터를 조회, 생성
# 2. 각 본부별 주차장 수를 딕셔너리 데이터로 조회 생성하세요.

import json
import pandas as pd
import os 

file = pd.read_csv('data/kor_parking.csv',encoding='euc-kr')

lines = {}

for i in range(len(file)):
    lines[file['노선'][i]] = lines.get(file['노선'][i],0)+file['합계'][i] 
print(lines)

'''
##.... 딕셔너리 내포
key = ['1','2','3','4']
value = [1,2,3,4]
test = {key[i]:value[i] for i in range(4)} 
print(test)

'''
parkings = {}
for i in range(len(file)):
    parkings[file['본부'][i]] = parkings.get(file['본부'][i],0)+file['합계'][i] 
print(lines)
print(parkings)

{'경부선': 7864, '서해안선': 6474, '호남지선': 312, '호남선': 1428, '중부선': 2448, '대전통영선': 1621, '중부내륙선': 2556, '중부내륙의지선': 183, '중앙선': 2554, '동해선': 772, '남해선': 2287, '남해제2지선': 107, '부산외곽선': 337, '광주대구선': 841, '영동선': 3077, '대구포항선': 887, '익산장수선': 256, '무안광주선': 210, '당진영덕선': 1131, '서천공주선': 194, '서울외곽선': 900, '평택제천선': 767, '순천완주선': 509, '울산포항선': 144, '서울양양선': 678}
{'경부선': 7864, '서해안선': 6474, '호남지선': 312, '호남선': 1428, '중부선': 2448, '대전통영선': 1621, '중부내륙선': 2556, '중부내륙의지선': 183, '중앙선': 2554, '동해선': 772, '남해선': 2287, '남해제2지선': 107, '부산외곽선': 337, '광주대구선': 841, '영동선': 3077, '대구포항선': 887, '익산장수선': 256, '무안광주선': 210, '당진영덕선': 1131, '서천공주선': 194, '서울외곽선': 900, '평택제천선': 767, '순천완주선': 509, '울산포항선': 144, '서울양양선': 678}
{'수도권본부': 6255, '대전충남본부': 6397, '대구경북본부': 5483, '부산경남본부': 4315, '전북본부': 4393, '광주전남본부': 2398, '충북본부': 3922, '강원본부': 5374}

In [134]:
## pandas : DataFrame의 구조 (Table와 같은 구조)
# Series들이 겹할 되어 있는 형태, 시리즈는 컬럼을 기반으로 데이터가 저장되어 있는 형태 
# pandas에서 참조시에는 Series의 이름을 사용하여 참조 ....
# Series의 특징은 List, 딕셔너리와 같은 성격을 가지고 있다. 

# Series - pandas의 기본 데이터 구조 (리스트와 비슷함)
#          리스트와 차이점은 인덱싱 방식에 따라서 리스트와 다른 인덱싱이 가능함
# 

ls = [10,20,30,40,50]
print(ls)

s = pd.Series(ls,name='lst')

# for문으로 확인 list와 같은 동작 
for i in s: 
    print(i)
for r in range(len(s)):
    print(s[r])
    
# 슬라이싱 가능
print(s[:2]) 

# 리스트와 다른점...인덱싱 처리 
s1 = pd.Series(ls,index=[1,2,3,4,5],name='index 수정')
s1.info()

[10, 20, 30, 40, 50]
10
20
30
40
50
10
20
30
40
50
0    10
1    20
Name: lst, dtype: int64
<class 'pandas.core.series.Series'>
Int64Index: 5 entries, 1 to 5
Series name: index 수정
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 80.0 bytes

In [140]:
'''
- dict1이름의 딕셔너리를 만들고 아래 그림을 참조하여 쌍(키:밸류)를 구성
- lotto1이라는 이름의 시리즈를 만들고 dic1 딕셔너리의 쌍을 가지고 와서 시리즈로 만드세요

'''
# pd.Series([5,11,14,30,33,38,24], index=[1,2,3,4,5,6,'bonus']) 이렇게 만들어도 된다.
dict1 = {'1':5,'2':11,'3':14,'4':30,'5':33,'6':38,'bonus':24} 
lotto1 = pd.Series(dict1,name='lotto1')
print(lotto1)

1         5
2        11
3        14
4        30
5        33
6        38
bonus    24
Name: lotto1, dtype: int64

In [170]:
'''
<문제>
s1_jimsu시리즈를 만드세요

jumsu = {
'홍길동':[50,60,50],
'이순신':[60,60,60],
'강감찬':[100,90,90],
'유관순':[80,80,90],
'강환석':[95,95,95],
}
'''

jumsu = {
'홍길동':[50,60,50],
'이순신':[60,60,60],
'강감찬':[100,90,90],
'유관순':[80,80,90],
'강환석':[95,95,95],
}

s1_jumsu = pd.Series(jumsu)
name = [] 
jumsu_ls = [] 
name = list(jumsu.keys()) 
jumsu_ls = list(jumsu.values())
print(name)
print(jumsu_ls)

jumsu_s2 = pd.Series(jumsu_ls,index=name)
print(s1_jumsu)
print(jumsu_s2)

for i in s1_jumsu.index:
    print("-"+i+'-',end='-')
print()

for key in s1_jumsu:
    print("-{:.2f}점-".format(np.mean(key)),end='-')
    
## 4개의 시리즈로 만들기
# 이름을 시리즈 이름 
na = [key for key in jumsu]
name_s = pd.Series(na)
name_s

kor = [jumsu[key][0]for key in na]
kor_s = pd.Series(kor)

eng = [jumsu[key][1]for key in na]
eng_s = pd.Series(eng)

math = [jumsu[key][2]for key in na]
math_s = pd.Series(math)

## DataFrame 만들기
score = pd.DataFrame({'이름':name_s,'국어':kor_s,'영어':eng_s,'수학':math_s})
score

# 국영수 합계 시리즈 생성
total = kor_s + eng_s + math_s 
print(total)
avg = round(total/3)
print(avg)

score['합계'] = total
score['평균'] = avg
score

['홍길동', '이순신', '강감찬', '유관순', '강환석']
[[50, 60, 50], [60, 60, 60], [100, 90, 90], [80, 80, 90], [95, 95, 95]]
홍길동     [50, 60, 50]
이순신     [60, 60, 60]
강감찬    [100, 90, 90]
유관순     [80, 80, 90]
강환석     [95, 95, 95]
dtype: object
홍길동     [50, 60, 50]
이순신     [60, 60, 60]
강감찬    [100, 90, 90]
유관순     [80, 80, 90]
강환석     [95, 95, 95]
dtype: object
-홍길동---이순신---강감찬---유관순---강환석--
-53.33점---60.00점---93.33점---83.33점---95.00점--0    160
1    180
2    280
3    250
4    285
dtype: int64
0    53.0
1    60.0
2    93.0
3    83.0
4    95.0
dtype: float64

    이름   국어  영어  수학   합계    평균
0  홍길동   50  60  50  160  53.0
1  이순신   60  60  60  180  60.0
2  강감찬  100  90  90  280  93.0
3  유관순   80  80  90  250  83.0
4  강환석   95  95  95  285  95.0

In [174]:
### data/score.csv 파일을 읽어와서 총점과 평균울 구하요 추가하세여

import json
import pandas as pd

score = pd.read_csv('data/score.csv')
print(score)

kor = score['kor']
eng = score['eng']
math = score['mat']
total = kor+eng+math 
score['total'] = total
avg = round(total/3,2) 
score['avg'] = avg
score

     no  kor  eng  mat  dept
0   101   88   85   86   101
1   102   70   90   92   101
2   103   90   45   55   101
3   104   55   52   74   102
4   105   65   85   96   102
5   106   75   66   41   102
6   107   62   75   52   103
7   108   40   51   85   103
8   109   75   90   63   101
9   110   50   62   75   102
10  111   80   55   45   103
11  112   95   65   85   103
12  113   82   45   64   101
13  114   88   78   82   102
14  115   56   75   75   103

     no  kor  eng  mat  dept  total    avg
0   101   88   85   86   101    259  86.33
1   102   70   90   92   101    252  84.00
2   103   90   45   55   101    190  63.33
3   104   55   52   74   102    181  60.33
4   105   65   85   96   102    246  82.00
5   106   75   66   41   102    182  60.67
6   107   62   75   52   103    189  63.00
7   108   40   51   85   103    176  58.67
8   109   75   90   63   101    228  76.00
9   110   50   62   75   102    187  62.33
10  111   80   55   45   103    180  60.00
11  112   95   65   85   103    245  81.67
12  113   82   45   64   101    191  63.67
13  114   88   78   82   102    248  82.67
14  115   56   75   75   103    206  68.67